/* Общие стили */
body {
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
    background: url('https://i.pinimg.com/originals/a3/50/87/a3508797091683ab55e1d0534c6ba97a.gif') no-repeat center center fixed;
    background-size: cover;
    background-color: #000000;
    color: #ffffff;
}

/* Стили для хедера */
header {
    background: rgba(0, 0, 0, 0.5);
    padding: 10px 20px;
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 1000;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
}

nav ul li {
    margin: 0 15px;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
    font-weight: 600;
    transition: color 0.3s;
}

nav ul li a:hover {
    color: #ffcc00;
}

.menu-icon {
    display: none;
    cursor: pointer;
}

.menu-icon img {
    width: 30px;
    height: 30px;
}

/* Стили для главной секции */
.hero {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    text-align: center;
    background: rgba(0, 0, 0, 0.6);
}

.hero-content {
    animation: fadeInUp 1.5s ease-in-out;
}

.hero h1 {
    font-size: 4em;
    margin-bottom: 20px;
    color: #00ffff;
    text-shadow: 0 0 10px #00ffff;
}

.hero p {
    font-size: 1.5em;
    margin-bottom: 20px;
}

.hero button {
    padding: 15px 30px;
    background-color: #00ffff;
    border: none;
    color: #000;
    font-weight: 600;
    cursor: pointer;
    transition: background-color 0.3s, transform 0.3s;
    border-radius: 20px;
}

.hero button:hover {
    background-color: #19e5e6;
    transform: translateY(-5px);
}

/* Стили для секции "Услуги" */
#services {
    padding: 80px 20px;
    text-align: center;
    background: rgba(0, 0, 0, 0.5);
}

#services h2 {
    font-size: 2.5em;
    margin-bottom: 40px;
    color: #00ffff;
    text-shadow: 0 0 10px #00ffff;
}

.service {
    display: inline-block;
    width: calc(33.33% - 40px);
    margin: 20px;
    padding: 20px;
    background: rgba(255, 255, 255, 0.1);
    border-radius: 10px;
    transition: transform 0.3s, box-shadow 0.3s;
}

.service img {
    width: 100%;
    border-radius: 10px;
    margin-bottom: 20px;
}

.service h3 {
    font-size: 1.8em;
    margin-bottom: 10px;
    color: #00ffff;
    text-shadow: 0 0 10px #00ffff;
}

.service p {
    font-size: 1.2em;
    color: #cccccc;
}

.service:hover {
    transform: scale(1.05);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.6);
}

/* Стили для секции "Обо мне" */
#about {
    padding: 80px 20px;
    background: rgba(0, 0, 0, 0.6);
}

#about h2 {
    font-size: 2.5em;
    text-align: center;
    margin-bottom: 40px;
    color: #00ffff;
    text-shadow: 0 0 10px #00ffff;
}

.about-content {
    display: flex;
    align-items: center;
}

.about-text {
    margin-left: 30px;
    font-size: 1.2em;
    color: #ffffff;
}

/* Стили для секции "Отзывы" */
#testimonials {
    padding: 80px 20px;
    text-align: center;
    background: rgba(0, 0, 0, 0.5);
}

#testimonials img {
    width: 100%;
    border-radius: 5px;
    margin-bottom: 10px;
}

#testimonials h2 {
    font-size: 2.5em;
    margin-bottom: 40px;
    color: #00ffff;
    text-shadow: 0 0 10px #00ffff;
}

.testimonial {
    background: rgba(255, 255, 255, 0.1);
    margin: 20px;
    padding: 20px;
    border-radius: 10px;
    font-size: 1.2em;
    color: #cccccc;
}

.testimonial p {
    margin-bottom: 10px;
}

.testimonial:hover {
    transform: scale(1.05);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.6);
}

/* Стили для секции "Контакты" */
#contact {
    padding: 80px 20px;
    text-align: center;
    background: rgba(0, 0, 0, 0.6);
}

#contact h2 {
    font-size: 2.5em;
    margin-bottom: 20px;
    color: #00ffff;
    text-shadow: 0 0 10px #00ffff;
}

#contact button {
    padding: 15px 30px;
    background-color: #00ffff;
    border: none;
    color: #000;
    font-weight: 600;
    cursor: pointer;
    transition: background-color 0.3s, transform 0.3s;
    border-radius: 20px;
}

#contact button:hover {
    background-color: #19e5e6;
    transform: translateY(-5px);
    border-radius: 20px;
}

#contact form {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 500px;
    margin: 0 auto;
    border-radius: 20px;
}

#contact input, 
#contact textarea, 
#contact select, 
#contact button {
    width: 100%;
    margin-bottom: 10px;
    padding: 10px;
    border: 1px solid #00ffff;
    background: rgba(255, 255, 255, 0.1);
    color: #fff;
    border-radius: 20px;
}

#contact button {
    background-color: #00ffff;
    color: #000;
    cursor: pointer;
    transition: background-color 0.3s;
    border-radius: 20px;
}

#contact button:hover {
    background-color: #19e5e6;
    border-radius: 20px;
}

/* Анимация fadeInUp */
@keyframes fadeInUp {
    from {
        opacity: 0;
        transform: translateY(20px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

/* Мобильная версия */
@media (max-width: 768px) {
    nav ul {
        display: none;
    }

    .menu-icon {
        display: block;
    }

    .hero h1 {
        font-size: 2.5em;
    }

    .hero p {
        font-size: 1.2em;
    }

    .service {
        width: 100%;
        margin: 20px 0;
    }

    .about-content {
        flex-direction: column;
        text-align: center;
    }

    .about-text {
        margin-left: 0;
        margin-top: 20px;
    }
}
